@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
/*Css para menu de todos los HTML*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
nav ul {
  display: flex;
  gap: 2px;
  justify-content: end;
  font-size: large;
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #f8f416;
  background-color: rgb(145, 23, 43);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5s;
}
nav ul li a:hover {
  background-color: brown;
}
nav ul li ul {
  display: none;
  position: absolute;
  min-width: 103px;
}
nav ul li:hover > ul {
  display: block;
}

/*Css pie de página*/
.footer {
  background-color: rgb(145, 23, 43);
  padding: 30px 0;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-row .footer-links {
  width: 30%;
  padding: 0 15px;
}
.footer .footer-row .footer-links ul {
  list-style: none;
}
.footer .footer-row .footer-links h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 500px;
  border-bottom: 2px solid #f8f416;
  padding-bottom: 10px;
  display: inline-block;
}
.footer .footer-row .footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer .footer-row .footer-links ul li a:hover {
  color: #fff;
  padding-left: 6px;
}
.footer .footer-row .footer-links .social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}
.footer .footer-row .footer-links .social-links a:hover {
  background-color: #00c3ff;
}

/*Css Productos*/
.col__productos {
  display: flex;
}
.col__productos .biografia {
  margin-top: 10px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.col__productos .biografia .productos__li {
  margin-top: 5px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.col__productos .biografia .productos__li .div__li {
  display: block;
  padding: 20px;
  background-color: rgb(145, 23, 43);
  color: #f8f416;
  border-radius: 5px;
}
.col__productos .biografia .productos__li .div__li li {
  list-style: none;
}
.col__productos .biografia .productos__li .div__li li ul li {
  margin-left: 15px;
}
.col__productos .biografia .recomendacion__productos {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid gainsboro;
  font-size: 16px;
  font-weight: 500;
}
.col__productos .biografia .btn__prod button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(145, 23, 43);
  color: #f8f416;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.col__productos .biografia .btn__prod button:hover {
  background-color: brown;
}
.col__productos .cards__productos {
  margin-top: 10px;
  flex-basis: 50%;
  width: 100%;
  height: 100%;
}
.col__productos .cards__productos .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.col__productos .cards__productos .card img {
  max-width: 100%;
  height: 200px;
}
.col__productos .cards__productos .card .texto--producto {
  padding: 0 20px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.col__productos .cards__productos .card .texto--producto .texto__descripcion--producto {
  margin: 10px 0 20px;
  flex-grow: 1;
}
.col__productos .cards__productos .card .texto--producto button {
  background-color: gray;
  border: 0;
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
.col__productos .cards__productos .card .texto--producto button:hover {
  background-color: blue;
  cursor: pointer;
}

/*CSS Carousel*/
.carousel-container {
  height: 300px;
  overflow: hidden;
  margin: 20px 0;
  border-radius: 10px;
}
.carousel-container .items-carousel {
  height: 300px;
  position: relative;
}
.carousel-container .carousel-img {
  width: 100%;
  height: 300px;
}
.carousel-container .flechasCarousel {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.carousel-container .flechasCarousel > a {
  color: rgb(145, 23, 43);
  font-size: 25px;
  font-style: none;
}

.puntos-container {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: auto;
}

.puntos-container > a {
  color: rgb(145, 23, 43);
}

/*Css del main HTML "Catálogo"*/
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cards .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.cards .card img {
  width: 100%;
  height: 200px;
}
.cards .card .texto {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.cards .card .texto .texto__descripcion {
  flex-grow: 1;
}
.cards .card .texto button {
  background-color: gray;
  border: 0;
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
.cards .card .texto button:hover {
  background-color: blue;
  cursor: pointer;
}

/*Css del main HTML "Servicios"*/
.imagen-texto {
  position: relative;
}
.imagen-texto .texto-interior {
  position: absolute;
  top: 30px;
  margin: 10px;
  padding: 15px;
}
.imagen-texto .texto-interior h1 {
  margin-bottom: 10px;
  font-weight: 800;
  color: rgba(22, 22, 17, 0.856);
  font-size: 40px;
}
.imagen-texto .texto-interior h2 {
  width: 50%;
  margin-bottom: 10px;
  border: 0px solid gray;
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(167, 167, 167, 0.459);
  font-size: 30px;
  color: rgb(22, 22, 17);
  font-weight: 600;
}
.imagen-texto .texto-interior button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(145, 23, 43);
  color: yellow;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.imagen-texto .texto-interior button:hover {
  background-color: brown;
}

.imagen-descripcion {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.imagen-descripcion .descripcion-parrafos {
  flex-direction: column;
}
.imagen-descripcion .descripcion-parrafos h3 {
  font-size: 30px;
  color: #2b1919;
  margin-bottom: 25px;
  font-weight: 500px;
  border-bottom: 2px solid rgb(145, 23, 43);
  padding-bottom: 10px;
  display: inline-block;
}
.imagen-descripcion .descripcion-parrafos p {
  font-size: 18px;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 37);
}
body h1 {
  font-family: "Poppins", sans-serif;
}
body h2, body h3, body h4 {
  font-family: "Roboto", sans-serif;
}
body p, body li {
  font-family: "Fira Sans", sans-serif;
}

.contenedor {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50px 50px auto auto;
  gap: 10px;
  grid-template-areas: "aside aviso aviso" "aside encabezado encabezado" "aside princ costado" "pie pie pie";
}

article {
  grid-area: aviso;
  background-color: rgb(145, 23, 43);
  color: #f8f416;
  font-size: x-large;
  text-align: center;
  font-weight: 800;
}

header {
  grid-area: encabezado;
}

aside {
  grid-area: aside;
  background-color: rgba(252, 252, 56, 0.527);
}

main {
  grid-area: princ;
  background-color: rgba(255, 235, 205, 0.356);
  padding: 10px;
}

section {
  grid-area: costado;
}

footer {
  grid-area: pie;
}

/*Css aviso de emergencia*/
.article__aviso {
  font-size: 35px;
}

/*Css main del index*/
.padre1 {
  display: flex;
}
.padre1 .col_biografia {
  columns: 200px 2;
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.padre1 .col_biografia strong {
  font-weight: 800;
}
.padre1 .col {
  flex-basis: 50%;
  margin-top: 8px;
  margin-left: 10px;
}

.padre2 {
  display: flex;
  flex-direction: column;
}

#hero {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
}

/*Css section derecho*/
.eslogan {
  border: double 4px rgb(145, 23, 43);
  background-color: rgba(145, 23, 43, 0.925);
  color: #f8f416;
  border-radius: 10px;
  padding: 10px;
  height: 150px;
  line-height: 1.5;
  font-size: 25px;
  text-align: center;
  margin: 5px;
}

.public__prod {
  background-color: rgb(145, 23, 43);
}
.public__prod h2 {
  color: #f8f416;
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}
.public__prod .metodo-pago {
  padding: 10px 10px 15px 10px;
  border-bottom: 5px solid #f8f416;
}
.public__prod .metodo-efectivo img {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 10px;
}

/*Css aside (Costado izquierdo)*/
.servicios {
  margin-top: 20px;
  padding: 10px;
  line-height: 2;
}

.servicios__lista--mediana {
  font-weight: 600;
  list-style: square;
  padding-left: 40px;
}

.servicios__lista--enumerada {
  list-style: circle;
  margin-left: 30px;
  font-size: large;
  font-weight: 600;
}

/*Css html servicios*/
.tituloGaleria {
  text-align: center;
  text-decoration: underline rgb(145, 23, 43);
  margin: 50px 0;
  font-size: 30px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.galeria1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 50px;
}

/*Css del main HTML "Contacto"*/
.tituloContacto {
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.contenedor__contacto {
  box-shadow: 0 0 20px 0;
  background-color: #b70e21;
}

.contenedor__contacto > * {
  padding: 1em;
}

.contacto-form {
  background-color: rgb(145, 23, 43);
}

.contacto-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacto-form form .block {
  grid-column: 1/3;
}

.contacto-form form p {
  margin: 0;
  padding: 1em;
  color: #fff;
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid yellow;
  outline: none;
  color: #fff;
}

.contacto-form form button {
  background: #b70e21;
  border-bottom: #b70e21;
  color: #000;
  text-transform: uppercase;
  padding: 1em;
  transition: all 0.3s ease;
}

.contacto-form form button:hover {
  background-color: brown;
  cursor: pointer;
  color: #fff;
  outline: none;
}

.contacto-info > * {
  padding: 1em;
  margin: 10px;
}

.contacto-info {
  background-color: rgb(145, 23, 43);
  box-shadow: 0 0 20px 0;
}

.contacto-info h2,
.contacto-info h3 {
  padding: 1em;
  text-align: center;
  color: #fff;
}

.contacto-info ul,
.contacto-info p {
  padding: 2em;
  color: #fff;
}

.contacto-info ul li {
  padding: 0.5em;
}

/*Inicio Media queris*/
@media (max-width: 950px) {
  .grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: "aside aviso" "aside encabezado" "aside princ" "aside costado" "pie pie";
  }
  .cards__candados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 400vh;
  }
  .costado__tablet {
    display: flex;
    width: 95%;
    gap: 20px;
  }
  .eslogan__tablet--index {
    height: 95%;
    padding-top: 80px;
  }
  .imagen__apertura--movil {
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: "aviso" "aside" "encabezado" "princ" "costado" "pie";
  }
  .costado__movil--column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .col__productos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .col__productos .productos__li {
    margin-bottom: 5px;
    margin: auto;
    gap: 30px;
  }
  .col__productos .cards__productos {
    height: auto;
    margin-bottom: 10px;
  }
  .col__productos .cards__productos .card {
    flex-grow: 1;
  }
  .col__productos .cards__productos .card h3 {
    font-size: 25px;
    text-align: center;
  }
  .col__productos .cards__productos .card p {
    font-size: 20px;
    line-height: 1.5;
    text-align: initial;
  }
  .col__productos .recomendacion__productos {
    margin: 0;
  }
  .col__productos .btn__prod {
    margin-top: 0;
  }
  .carousel-container {
    width: auto;
    height: 180px;
    margin-bottom: 5px;
  }
  .carousel-container .items-carousel {
    height: auto;
  }
  .carousel-container .items-carousel img {
    width: 100%;
    height: 180px;
  }
  .carousel-container .items-carousel .flechasCarousel {
    width: 100%;
    height: 100%;
  }
  .puntos-container {
    font-size: 15px;
  }
  .cards__candados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 400vh;
    gap: 10px;
  }
  .cards__candados .card__cilindro {
    display: none;
  }
  .imagen-texto {
    text-align: left;
  }
  .imagen-texto .imagen__apertura--movil {
    height: 50vh;
    margin-top: 20px;
  }
  .imagen-texto .imagen__texto-movil {
    position: absolute;
    top: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .imagen-texto .imagen__texto-movil h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .imagen-texto .imagen__texto-movil h2 {
    font-size: 25px;
    margin: 0;
    padding-top: 0;
  }
  .imagen-texto .imagen__texto-movil button {
    font-size: 10px;
    margin: 0;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 20px;
  }
  .social-links a {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
